<div class="container">
  <div class="notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>
  <div class="show">
    <p><span>Title:</span><%= @book.title %></p>
    <p><span>Body:</span><%= @book.body %></p>
  </div>
<%= link_to "Edit", edit_book_path(@book) %> | <%= link_to "Back", books_path %>
</div>